	/*---------------------------------------------------------------------------------------------------
	------------------------------- ADD H6 ANNOUNCEMENT BANNER TO SIDEBAR -------------------------------
	---------------------------------------------------------------------------------------------------*/
	#container:before {
		content: "test";
		background-color: #be3d3d;
		display: block;
		border-radius: 3px;
		padding: 10px 20px;
		font-size: 14px;
		color: white;
		margin: 10px;
	}
