	/*---------------------------------------------------------------------------------------------------
	-------------------------------- CHANGE SUBVERSE TITLE TEXT IN HEADER -------------------------------
	---------------------------------------------------------------------------------------------------*/
	.pagename a:after {
		content: "Scribble";
		font-size: 50px;
	}
	.pagename a {
		font-size: 0;
	}
	@media (min-width: 871px) {
		.pagename a {
			line-height: 25px;
		}
	}
