        /*-------------------------------------------------------------------
        ---------------------- CHANGE BUTTON COLOR AND ----------------------
        --------------------- HEADER BAR OPACITY VALUE ----------------------
        -------------------------------------------------------------------*/
        #sr-header-area {
                background: rgba(255,255,255,0.25);
        }
        .logged-in, .logged-out {
                background: rgba(246,246,246,0.25);
        }
        .side button, .btn-whoaverse.contribute, .pagination-container .btn-whoaverse-paging a, .btn-whoaverse-paging {
                background: #67C6FB;
        }
