	/*---------------------------------------------------------------------------------------------------
	-------------------------------- CHANGE SUBVERSE TITLE TEXT IN SIDEBAR ------------------------------
	---------------------------------------------------------------------------------------------------*/
	.whoaversename.hover a:first-child {
		font-size: 0;
	}
	.whoaversename.hover a:first-child:before {
		content: "/v/Scribble";
		font-size: 38px;
	}
