	/*---------------------------------------------------------------------------------------------------
	------------------------------------------ INCREASE HEIGHT OF HEADER AREA -------------------------------------------
	---------------------------------------------------------------------------------------------------*/
	@media (min-width: 871px) {
		#container {
			top: -35px;
			margin-bottom: -35px;
		}
		#header-container {
			top: 165px;
		}
	}
