	/*---------------------------------------------------------------------------------------------------
	---------------------------------------- ADD "/v/" BEFORE SUBVERSE TEXT LOGO ----------------------------------------
	---------------------------------------------------------------------------------------------------*/
	.pagename a:before {
		content: "/v/";
		font-size: 36px;
	}
	@media (min-width: 871px) {
		.pagename a:before {
			font-size: 46px;
		}
	}
